.page-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 446px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
